<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mobile no
      </mat-panel-title>
      <mat-panel-description>
        Enter your Mobile no
        <mat-icon>phone</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form>
      <div class="form-group"></div>
      <label for="phno">Mobile no</label>
      <div class="col-lg-4">
        <input [ngModel]="data.mobileNo"type="text" class="form-control">
      </div>
    </form>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Delivery Address
      </mat-panel-title>
      <mat-panel-description>
        Enter Your Shipping Address
        <mat-icon>home</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="col-lg-4">
      <form>
        <label for="address">Address</label>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <label for="locality">Locality</label>
        <input type="text" class="form-control">
        <label for="pincode">Pincode</label>
        <input type="text" class="form-control">
        <label for="City/District/Town">City/District/Town</label>
        <input type="text" class="form-control">
        <label for="landmark">Landmark</label>
        <input type="text" class="form-control">
        <label for="state">State</label>
        <input type="text" class="form-control">
      </form>
    </div>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order Summary
      </mat-panel-title>
      <mat-panel-description>
        Summary of Ordered Items
        <mat-icon>favorite_border</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-6">
        <div class="card p-1 mb-3" *ngFor="let c of cartItems;let i=index">
          <div class="row">
            <div class="col-md-4 ">
              <img src="{{c.front}}" width="100px" height="100px" class="img-thumbnail">
            </div>
            <div class="col-md-8">
              <table>
                <h5 style="color: darkslategray;">{{c.name}}</h5>

                <small><s> &#x20b9;{{c.price+300}}/-</s></small>
                <h6 style="color: blueviolet;"> &#x20b9;{{c.price}}</h6>
                <h6 style="text-align: left;color:yellowgreen">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </h6>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span class="list">Price({{cartItems.length}} item(s))</span>
            </div>
            <div class="col-md-6">
              <span class="list">{{total}}</span>
            </div>
            <br>
            <br>
            <div class="col-md-6">
              <span class="list">Discount</span>
            </div>
            <div class="col-md-6">
              <span class="list">50/-</span>
            </div>
            <br>
            <br>
            <div class="col-md-6">
              <span class="list">Delivery Charges</span>
            </div>
            <div class="col-md-6">
              <span class="list">100/-</span>
            </div>
            <br>
            <br>
            <div class="col-md-6">
              <span class="list"><b>Total Payable</b></span>
            </div>
            <div class="col-md-6">
              <span class="list"><b>{{total+50}}/-</b></span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Payment
      </mat-panel-title>
      <mat-panel-description>
        Enter your card Details
        <mat-icon>account_balance_wallet</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
      <div class="col-lg-4">
        <input class="form-control" type="text" formControlName="name" placeholder="Account Holder Name"><br>
      </div>
      <div class="col-lg-4">
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
      </div>
      <div class="col-lg-4">
        <button class="btn btn-success" type="submit">
          BUY
        </button>
      </div>
    </form>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>